In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
print("Adios") #esto es un print de adios

#esto es un print de adios
print("Adios")
print("goodbye")

Adios
Adios
goodbye
Hola Juan

In [ ]:
# Identación

def saludar(nombre):
    """
    Esta función saluda a un nombre

    Args:
        nombre (str): El nombre de la persona a saludar

    Returns:
        str: Un mensaje de saludo
    """
    print(f"Hola {nombre}")

saludar("Juan")

In [5]:
var_global = 10
var_global = "hola"
print(var_global)

hola

In [ ]:
var_global = 10
var_global = "hola"
print(var_global)

def mi_funcion():
    var_local = 10
    return var_local

hola

In [16]:
var = mi_funcion()
print(var)

10

In [21]:
def saludar(nombre: str) -> str:
    """
    Esta función saluda a un nombre

    Args:
        nombre (str): El nombre de la persona a saludar

    Returns:
        str: Un mensaje de saludo
    """
    print(f"Adios {nombre}")
    
    return f"Hola {nombre}"

var = saludar("Bryan")
print(var)

Adios Bryan
Hola Bryan

In [22]:
numero = 100
decimal = 100.5
booleano = True
cadena = "Hola"
lista = [1, 2, 3]
diccionario = {"nombre": "Juan", "edad": 20}
tupla = (1, 2, 3)

print(numero)
print(decimal)
print(booleano)
print(cadena)
print(lista)
print(diccionario)
print(tupla)

100
100.5
True
Hola
[1, 2, 3]
{'nombre': 'Juan', 'edad': 20}
(1, 2, 3)

In [27]:
print(type(lista))
print(type(diccionario))
print(type(tupla))
print(type(booleano))
print(type(cadena))
print(type(decimal))
print(type(numero))

<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
cadena = str("Python")
#print(cadena)

list(cadena)

['P', 'y', 't', 'h', 'o', 'n']

In [42]:
x, y, z = str("Python"), int("10"), float("10.5")

print(x, y, z)

Python 10 10.5

In [44]:
10 + 20.5

30.5

In [45]:
"10" + "20"

'1020'

In [46]:
nombre ="Bryan" + "Vargas"

In [50]:
list(nombre)
nombre[0:3]

'Bry'

In [60]:
mi_lista = ["Bryan", "Vargas", "Python", 123, 10.5, True, [["platano", "manzana", "naranja"], 2, 3]]

mi_lista[-1][0][1]

'manzana'

In [85]:
tabla_lista = [[1, 2, 3], [4, 5, 6], [7, 8, 9],[10, 11, 12]]

In [63]:
## Diccionario

mi_diccionario = {"nombre": "Bryan", "edad": 33, "ciudad": "Lima"}

#mi_diccionario["nombre"]
#mi_diccionario["edad"]
mi_diccionario["ciudad"]

'Lima'

In [64]:
mi_diccionario["ciudad"] = "Santiago"

In [65]:
mi_diccionario

{'nombre': 'Bryan', 'edad': 33, 'ciudad': 'Santiago'}

In [66]:
mi_diccionario["pais"] = "Peru"
mi_diccionario

{'nombre': 'Bryan', 'edad': 33, 'ciudad': 'Santiago', 'pais': 'Peru'}

In [70]:
mi_diccionario.keys()
mi_diccionario.values()
mi_diccionario.items()

dict_items([('nombre', 'Bryan'), ('edad', 33), ('ciudad', 'Santiago'), ('pais', 'Peru')])

In [71]:
for key, value in mi_diccionario.items():
    print(key, value)

nombre Bryan
edad 33
ciudad Santiago
pais Peru

In [74]:
dict_estudiantes = {
    "estudiante1": {
        "nombre": "Juan",
        "edad": 20,
        "ciudad": "Santiago"
    },
    "estudiante2": {
        "nombre": "Maria",
        "edad": 22,
        "ciudad": "Valparaiso"
    }
}

dict_estudiantes["estudiante1"]["nombre"]

'Juan'

In [77]:
dict_estudiantes["estudiante3"] = {
    "nombre": "Juan",
    "edad": 20,
    "ciudad": "Santiago"
}

In [78]:
dict_estudiantes

{'estudiante1': {'nombre': 'Bryan', 'edad': 20, 'ciudad': 'Santiago'},
 'estudiante2': {'nombre': 'Maria', 'edad': 22, 'ciudad': 'Valparaiso'},
 'estudiante3': {'nombre': 'Juan', 'edad': 20, 'ciudad': 'Santiago'}}

In [84]:
X = 30

if X > 10:
    print("X es mayor que 10")
elif X == 10:
    print("X es igual a 10")
else:
    print("X es menor que 10")

X es mayor que 10

In [90]:
tabla_lista = [[1, 2, 3], [4, 5, 6], [7, 8, 9],[10, 11, 12]]
suma_total = 0

for i in range(len(tabla_lista)):
    print(tabla_lista[i][0])
    suma_total += tabla_lista[i][0]

1
4
7
10

In [91]:
suma_total

22